<!-- views/books.html -->
<div ng-controller="bookController">
    <link rel="stylesheet" href="../styles/books.css">
    <div class="books-container">
    <h1>Books</h1>
    <ul>
        <li ng-repeat="book in books">
            <h3>{{ book.title }}</h3>
            <p>Author: {{ book.author }}</p>
            <p>Genre: {{ book.genre }}</p>
        </li>
    </ul>

    <h2>Add a New Book</h2>
    <form ng-submit="addBook()">
        <input type="text" ng-model="newBook.title" placeholder="Title" required />
        <input type="text" ng-model="newBook.author" placeholder="Author" required />
        <input type="text" ng-model="newBook.genre" placeholder="Genre" />
        <button type="submit">Add Book</button>
    </form>
    </div>
</div>